---
title: 'Links'
template: 'site.pug'
---

style
  ul {
    list-style: none;
    padding-left: 5px;
  }

  body {
    font-family: "SourceCodePro";
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.graphic-comment {
    margin-top: 1em;
  }

  hr {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 20px;
    text-align: left;
    margin-left: 0px;
    font-family: "SourceCodePro";
    margin-bottom: 1.5em;
  }

h1.graphic-comment Contact

ul
  li
    a(href="mailto:karo@cupdev.net", title="The Oldschool")
      | mail: karo@cupdev.net
    span.graphic-comment GPG: 36CB 0E09 0EC6 DB7F CC2B  AB54 C5D1 22FE B110 53F7
  li
    a(href="jabber:kora@jabber.ccc.de", title="Live and in color!")
      | jabber: kora@jabber.ccc.de
    span.graphic-comment OTR: 353F40F3 B5CDB773 9C1D6657 C1C63D8D 5A828492
  li: a(href="https://twitter.com/dakoraa",
        title="The Feed")
    | dakoraa on Twitter
  li: a(href="https://alpha.app.net/kora",
        title="The bohemian feed")
    | Kora on app.net
  li: a(href="https://github.com/koraa",
        title="The Code")
    | koraa on Github
  li: a(href="https://flattr.com/profile/kora",
        title="$ The Money $")
    | Kora on flattr
  li: a(href="http://korra.soup.io/",
    title="♥ The Soup ♥")
    | Korra on Soup
.graphic-comment
  | For phone number and physical address, please contact me BY MAIL.

hr

h1.graphic-comment
  | Affiliations

ul
  li: a(href="http://softwear.nl", title="For fashion!")
    | Softwear
  li: a(href="http://kitchen.soup.io", title="♥ The Soup Kitchen ♥")
    | Soup.io
  li
    a(href="https://www.premium-cola.de/", title="Something sensual")
      | PREMIUM Cola
    span.graphic-comment Programming the land map application
  li: a(href="https://github.com/inexor-game/code", title="For fun")
      | Inexor FPS
  li: a(href="https://nooblounge.net", title="For noobs")
    | The Nooblounge
  li
    a(href="http://felswerk.org", title="Hammer and sickle")
      | Felswerk
    span.graphic-comment Minecraft running on my server.
  li: a(href="https://www.vivats.de/", title="Progress")
    | Viva TS
  li: a(title="My mum's blog", href="//littlelily.de")
    | Little Lily
