---
title: 'Links'
template: 'site.jade'
---

style
  ul {
    list-style: none;
    padding-left: 5px;
  }

  body {
    font-family: "SourceCodePro";
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.comment {
    margin-top: 1em;  
  }

  hr {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 20px;
    text-align: left;
    margin-left: 0px;
    font-family: "SourceCodePro";
    margin-bottom: 1.5em;
  }

h1.comment
  | Contact

ul
  li: a(href="https://twitter.com/dakoraa", 
        title="The Feed")
    | dakoraa on Twitter
  li: a(href="https://alpha.app.net/kora", 
        title="The bohemian feed")
    | Kora on app.net
  li: a(href="https://github.com/koraa", 
        title="The Code")
    | koraa on Github
  li: a(href="https://flattr.com/profile/kora", 
        title="$ The Money $")
    | Kora on flattr
  li: a(href="http://korra.soup.io/", 
    title="♥ The Soup ♥")
    | Korra on Soup
  li: a(href="mailto://karo@cupdev.net", 
        title="The Oldschool")
    | mail -- karo@cupdev.net

.comment
  | For phone number and physical address, please contact me BY MAIL.

hr

h1.comment
  | Affiliations

ul
  li: a(href="http://kitchen.soup.io", 
        title="♥ The Soup Kitchen ♥")
    | Soup.io
  li: a(href="https://nooblounge.net", 
        title="For noobs")
    | The Nooblounge
  li
    a(href="http://felswerk.org", title="Hammer ans sickle")
      | Felswerk 
    span.comment
      | Minecraft running on my server. Somebody should make a web site.
  li: a(href="http://www.vivats.de/", 
        title="♥ For life ♥")
    | Viva TS
  li: a(title="My mum's blog", href="//littlelily.de")A
    | Little Lily
